/**Landing Page**/
.landing-grid{
    text-align: center;
    background-color: #ecf0f1;
    top:0;
    left: 0;
    width: 100%;
}

.avatar-img{
    width: 25%;
    padding-top: 8em;
    padding-bottom: 2em;
}

.banner-text{
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h3, .banner-text h1{
    font-family: 'Oxygen';
    font-weight: medium;
    color: #2c3e50;
    margin: auto;
}

.banner-text p{
    font-family: 'Oxygen';
    color: #2c3e50;
    font-size: 20px;
    padding: 1em;
    margin: auto;
}

.social-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i{
    color: #2c3e50;
    font-size: 2.5em;
}

.footer{
    color: #2c3e50;
}

.footer i{
    color: #c0392b;
}

/**Resume Page**/
.resume-left{
    font-family: 'Oxygen';
    padding-left: 1%;
    text-align: center;
}

.aboutme p{
    width: 100%;
    text-align: justify;
    font-family: 'Oxygen', sans-serif;
    color: #2c3e50;
    padding-top: 2em;
}

.resume-right{
    border-radius: 1em;
    font-family: 'Oxygen';
    padding-left: 1%;
}

.resume-right hr{
    border-top: 1px solid #2c3e50;
    width: 98%;
}

.education, .experience {
    color: #2c3e50;
}

.education p{
    width: 100%;
    justify-content: center;
    font-family: 'Oxygen', sans-serif;
}

/**Project Page**/
.demo-tabs{
    background-color: #ecf0f1;
    min-height: 100vh;
}
.project-title-bg{
    background-image: url('../src/assets/images/project-bg.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    /*background: #06beb6;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 110px;
}
.project-title{
    font-size: larger;
    font-weight: bold;
    color: #ecf0f1;
}

.each-project{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #2c3e50;
}

/**Contact Page**/
.contact-body{
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
    background-color: #ecf0f1;
}

.contact-grid{
    text-align: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    color: #2c3e50;
    margin-bottom: 20px;
}

.contact-grid h2{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.contact-grid p{
    font-family: 'Oxygen', sans-serif;
    font-weight: medium;
    color: #2c3e50;
}

.contact-list{
    padding-top: 2em;
    padding-left: 6rem;
}

.contact-list i{
    font-size: 40px;
    padding-right: 1rem;
    color: #2c3e50;
}

.list-content{
    text-align: center;
}

.list-content a{
    text-decoration: none;
    color: #2c3e50;
}